# 1. Importing libraries

In [1]:
import pandas as pd
import numpy as np

## Note: I have Copied all data from wiki to excel file named Canada_po

#  2. Importing data

In [2]:
df=pd.read_excel('Canada_po.xlsx')

In [3]:
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

# 3. Data Cleaning

In [4]:
df=df[df['Borough']!='Not assigned']

In [5]:
df[df['Neighbourhood']=='Not assigned']==df['Borough']

C:\Users\prasa\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\indexes\base.py:3772: RuntimeWarning: '<' not supported between instances of 'str' and 'int', sort order is undefined for incomparable objects
  return this.join(other, how=how, return_indexers=return_indexers)

,Postcode,Borough,Neighbourhood,2,3,4,5,6,7,8,...,269,270,271,272,273,282,283,284,285,286
8,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [6]:
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

In [7]:
df_temp=df.groupby(['Postcode','Borough']).agg(','.join)

In [8]:
df_t=df_temp.reset_index()

In [9]:
df_t.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

# 4. Shape of data

In [10]:
df_t.shape

(103, 3)